<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Chat GPonT</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>

    <div>

      <main class="main-container">
        
        <button type="button" class="button" id="light-dark-button">Toggle Light/Dark mode</button>

        <header class="header">
          <h1 class="header-title">DU</h1>
        </header>

        <section id="messages-container" class="messages-container">
          <div class="message message-ai">
            Du hast
          </div>
        </section>

        <form id="file-form" class="prompt-container">
          <label for="file" class="prompt-label">Du hast mich</label>

          <input
            type="text"
            id="file"
            name="file"
            class="file-input"
            autocomplete="off"
          />

          <button type="submit" class="button" id="submit-file-button">Willst du bis der Tod euch scheidet</button>
        </form>

        <script src="{{ url_for('static', filename='file.js') }}"></script>
      </main>
    </div>
  </body>
</html>
