<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Chat GPonT</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>

    <div>

      <main class="main-container">
        
        <div class="button-container">
          <div class="left">
            <button type="button" class="button" id="light-dark-button">Changer de palette</button>
          </div>
          <div class="right">
            <a class="button" id="rammstein" href="/">Retour</a>
          </div>
        </div>

        <header class="header">
          <h1 class="header-title">Chat GPonT</h1>
        </header>

        <section id="messages-container" class="messages-container">
          <div class="message message-ai">
            Tu veux que j'étudie ton cours ? Pas de problème, envoie-le moi sur cette page et on pourra travailler avec !
          </div>
        </section>

        <form id="file-form" class="prompt-container">
          <label for="file" class="prompt-label">Choisis un fichier</label>

          <input
            type="file"
            id="file"
            name="file"
            class="file-input"
            autocomplete="off"
          />

          <button type="submit" class="button" id="submit-file-button">Envoyer</button>
        </form>

        <script src="{{ url_for('static', filename='file.js') }}"></script>
      </main>
    </div>
  </body>
</html>
