<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Chat GPonT</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>

    <div>

      <main class="main-container">
        
        <div class="button-container">
          <div class="left">
            <button type="button" class="button" id="light-dark-button">Changer de palette</button>
          </div>
          <div class="right">
            <a class="button" id="rammstein" href="{{ url_for('choose_course', filename='style.css') }}"> Choisir un autre cours </a>
          </div>
        </div>

        <header class="header">
          <h1 class="header-title">Chat GPonT</h1>
        </header>

        <section id="messages-container" class="messages-container">
          <div class="message message-ai">
            Je suis Chat GPonT ton maxicrack personnel ! Pose-moi une question sur
            le cours et je te répondrai.
          </div>
        </section>

        <form id="prompt-form" class="prompt-container">
          <label for="prompt" class="prompt-label">Message</label>

          <input
            type="text"
            id="prompt"
            name="prompt"
            class="prompt-input"
            autocomplete="off"
          />

          <button type="submit" class="button" id="submit-button">Envoyer</button>

          <button type="button" class="button" id="question-button">
            Pose-moi une question !
          </button>
        </form>

        <script src="{{ url_for('static', filename='prompt.js') }}"></script>
      </main>
    </div>
  </body>
</html>
